<nav>
    <i id="menu-icon" class='bx bx-menu'></i>
    <a href="#" class="logo logo-menu">PV</a>
    <div class="nav-list">
        <a id="home" href="/index.html">Home</a>
        <a id="product" href="/pages/product.html">Product</a>
        <a id="article" href="#">Article</a>
        <a id="cart" href="#">Cart</a>
        <a id="login-li" href="#">Login</a>
    </div>
    <div class="nav-button">
        <i id="cart-icon" class="bx bx-cart"></i>
        <button class="login">Login</button>
        <button class="signup">Sign Up</button>
    </div>
</nav>