@media (max-width: 1440px) {

    .hero-left .hero-title {
        font-size: 70px;
    }

    .hero-right {
        width: 50%;
    }
}

@media (max-width: 1150px) {

    .hero-left {
        padding: 0 40px;
    }
    .hero-left .hero-title {
        font-size: 60px;
    }

    .hero-left .hero-p {
        font-size: 15px;
        margin-bottom: 60px;
    }

    .hero-button button {
        width: 130px;
        height: 45px;
        font-size: 13px;
    }
}

/* AFTER THIS WILL TRANSTIONS TO MOBILE PORTRAIT LAYOUT */