@media (max-width: 3000px) and (min-width: 2000px) {
    
    .hero-left .hero-title {
        font-size: 100px;
    }
}

@media (max-width: 1440px) {

    .hero-left .hero-title {
        font-size: 70px;
    }

    .hero-right {
        width: 50%;
    }
}

@media (max-width: 1150px) {

    .hero-left {
        padding: 0 40px;
    }
    
    .hero-left .hero-title {
        font-size: 60px;
    }

    .hero-left .hero-p {
        font-size: 15px;
        margin-bottom: 60px;
    }

    .hero-button button {
        width: 130px;
        height: 45px;
        font-size: 13px;
    }

    /* MAIN SECTION */

    main {
        padding: 50px;
    }

    .description {
        align-items: center;
        text-align: center;
    }

}

/* AFTER THIS WILL TRANSTIONS TO MOBILE PORTRAIT LAYOUT */

@media (max-width: 920px) {
    
    header {
        overflow-x: hidden;
        height: 100%;
        /* kalo dia 100vh scroll bar jadi dobel */
    }

    nav {
        height: auto;
        padding: 30px;
    }

    #cart-icon {
        display: none;
    }

    #menu-icon {
        display: flex;
        font-size: 40px;
        z-index: 999;
        
    }

    .logo-menu {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        right: 0;
    }

    #cart, #login-li {
        display: block;
    }

    
    .login {
        display: none;
    }


    .nav-list {
        position: absolute;
        width: 50%;
        height: 100vh;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        
        gap: 30px;
        transition: .4s ease-in-out;
        padding: 150px 50px 0px;

        z-index: 99;
        backdrop-filter: blur(25px);
    }

    .nav-list a {
        font-size: 30px;
        font-weight: 200;
    }

    .nav-list.active {
        left: 0;
    }

    .no-scroll {
        overflow: hidden;
    }

    /* HERO SECTION WILL HORIZONTALLY ORIENTED */

    .hero-section {
        height: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 50px 0;

        /* outline: 1px solid red; */
    }
    
    .hero-right {
        width: 100%;
        /* outline: 1px solid red; */
        
    }

    .hero-left {
        width: 100%;
        padding: 50px 0px;
        /* outline: 1px solid red; */
    }

    .hero-left .mobile-container{
        display: flex;
        width: 100%;
        padding: 50px 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* MAIN SECTION HORIZONTAL LAYOUT */

    .best-seller {
        padding-bottom: 30px;
    }

    .card {
        width: 200px;
        height: 350px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    }

}


@media (max-width: 530px) {

    nav{
        padding: 20px;
    }

    .nav-list {
        width: 80%;
        gap: 20px;
    }

    .nav-list a{
        font-size: 20px;
    }

    #menu-icon, .logo-menu { 
        font-size: 25px;
    }

    .nav-button .signup {
        padding: 7px 15px;
        font-size: 10px;
    }
}

@media (max-width: 450px) {
    .hero-left {
        padding: 0 20px;
    }
    .hero-left .hero-title {
        font-size: 45px;
        margin-bottom: 20px;
        
    }
    .hero-left .hero-p {
        font-size: 12px;
        margin-bottom: 40px;
        
    }

}

@media (max-width: 320px) {

    #menu-icon, .logo-menu {
        font-size: 15px;
    }

    .nav-button .signup{
        padding: 7px 12px;
        font-size: 8px;
    }

    .hero-left .hero-title {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .hero-left .hero-p {
        font-size: 10px;
        margin-bottom: 30px;
    }
    .hero-button button {
        width: 100px;
        height: 35px;
        font-size: 10px;
    }
}