@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');

:root {
    --orange: #FF7700;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    width: 100%;
}

button {
    border: none;
}

.animated-bg {
     background: linear-gradient(
        120deg,
        #000000,
        #240c24,
        #000000,
        #12001f
  );
    background-size: 400% 400%;
    animation: darkGradient 12s ease infinite;
}

header {
   
    height: 100vh;
}

@keyframes darkGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* NAV SECTION */

nav {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 40px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    
}

.nav-list {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 100%;
    gap: 50px;
}

nav a, i, button{
    cursor: pointer;
}

.logo {
    font-size: 30px;
    font-weight: 800;
    color: var(--orange);
}

nav a:not(.logo) {
    opacity: 60%;
    color: #fff;
    letter-spacing: 1.5px;
}

#cart, #login-li {
    display: none;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* i font for cart and menu icon */

.nav-button i, #menu-icon{
    /* karna ini font jadi pake font size */
    color: #fff;
    font-size: 30px;
}


.nav-button .signup, .login {
    padding: 10px 20px;
    font-weight: 600;
    background-color: var(--orange);
    font-size: 15px;
    border-radius: 20px;
}

.login {
    background-color: transparent;
    color: #fff;
    padding: 0;
    margin: 0px 5px 0px 20px;
}

#menu-icon{
    display: none;
}


/* HERO SECTION */

.hero-section {
    display: flex;
    width: 100%;
    align-items: flex-end;
    position: relative;
    height: calc(100vh - 100px);
}

.hero-section .blur-line {
    display: none;
}

.hero-left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* outline: 1px solid red; */
}

.hero-left .hero-title {
    color: var(--orange);
    font-size: 85px;
    font-weight: 800;
    line-height: .85;
    letter-spacing: -3px;
    margin-bottom: 40px;

    /* outline: 1px red solid; */
}

.hero-left .hero-p {
    color: #fff;
    margin-bottom: 70px;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.8;
    letter-spacing: 1.2px;
    max-width: 420px;
    opacity: 80%;
    
    /* outline: 1px solid red; */
    
}

.hero-button {
    display: flex;
    gap: 10px;
}

.hero-button button{
    width: 170px;
    height: 55px;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 50px;
    background-color: var(--orange);
    
}

.hero-button .explore {
    background-color: transparent !important;
    color: #fff;
    border: 1px solid #fff;
}

.signup, .shopnow {
    color: #000;
}

.hero-right {
    display: flex;
    height: 100%;
    align-items: flex-end;
    /* clammp heerebefibsad */
    /* outline: 1px solid red; */
}

.hero-right img {

    object-fit: cover;
    width: 100%;
    height: clamp(300px, 100%, 700px); 
}


/* MAIN SECTION */

main {
    width: 100%;
}

section {
    width: 100%;
    gap: 20px;
    padding: 100px;
}

.best-seller {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.description p {
    max-width: 400px;
    
}
/* ------------------------------------------------------------------------ */


.slider-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.prev, .next {
    position: relative;
    font-size: 40px;
    background-color: transparent;

}

.card-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

}

.card-slider::-webkit-scrollbar {
  display: none;
}

.card-container {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.card {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);

    
}

.card-img {
    height: 50%;
    display: flex;
    justify-content: center;
    border-radius: 25px 25px 0px 0px;
    padding: 10px;
    /* outline: 1px solid red; */
}

.card-img img {
    object-fit: cover;
}

.card-desc {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: beige;
    border-radius: 0 0 25px 25px;

}

/* ---------------------------------------------------------------------------- */

/* ARTICLE CONTENT */

.articles {
    background-color: #f5f5f5;
    margin-top: 50px;
   
    
}


.article-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    gap: 30px;
}

.article {
    display: flex;
    width: 100%;
}

.article.second {
    flex-direction: row-reverse;
}

.article-img {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    /* outline: 1px solid red; */
}

.article.second .article-img {
    justify-content: flex-end;
}

.article-img img {
    max-height: 450px;
    width: 100%;
    object-fit: contain;
}

.article-description {
    width: 100%;
    padding: 50px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end
    /* outline: 1px solid red; */
}

.article.second .article-description {
    justify-content: flex-start;
}


.article-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.article-content p {
    text-align: justify;
}

/* FOOTER */

footer {
    width: 100%;
    padding: 100px 100px 50px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    color: #fff;

}

.footer-container h3 {
    font-size: 30px;
}

.logo-footer {
    font-size: 50px;
    font-weight: 900;
    color: var(--orange);
    margin-bottom: 20px;
}

.socmed {
    font-weight: 200;
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
}

.credit {
    margin-top: 50px;
}

.credit a {
    color: #fff;
}

.copyright {
    color: #fff;
    margin-top: 100px;
}