/* RESPONSIVE CODE */

@media (max-width: 3000px) and (min-width: 2700px) {
    
    .hero-right img {
        object-fit: contain;
    }

}


@media (max-width: 2000px) and (min-width: 1801px) {

    nav {
        padding: 0 80px;
    }

    .hero-left {
        padding: 0 20px 0 150px;
    }

}

/* starting to transitions for mobile responsive */
@media (max-width: 1300px) {
    .hero-left {
        padding: 60px;
    }
    .hero-left .hero-p {
        margin-bottom: 30px;
    }

}

@media (max-width: 950px) {

    .hero-left {
        padding: 40px;
    }


    .hero-left .hero-title {
        font-size: 60px;
        line-height: none;
        letter-spacing: none;
    }

    .hero-left .hero-p {
        font-size: 15px;
        max-width: 380px;
        margin-bottom: 20px;
    }

}

@media (max-width: 850px) {

    header {
        overflow-x: hidden;
        height: 100%;
    }

    /* this item is inside <nav> */
    #cart, #login-li {
        display: block;
    }

    #cart-icon {
        display: none;
    }

    #menu-icon {
        display: block;
        font-size: 40px;
        z-index: 100;
    }
    
    /* responsive navbar, burger menu. list will appear from side */


    .nav-list {
        position: absolute;
        width: 50%;
        height: 100vh;
        top: 0;
        right: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        
        gap: 30px;
        transition: .4s ease-in-out;
        padding: 0 50px;

        z-index: 99;
        backdrop-filter: blur(25px);
    }

    .nav-list a {
        font-size: 30px;
        font-weight: 200;
    }

    .nav-list.active {
        right: 0;
    }

    .no-scroll {
        overflow: hidden;
    }

    .login {
        display: none;
    }

    /* change hero section layout to mobile, up and down layout */
    .hero-section {
        flex-direction: column-reverse;
        height: 100%;
    }

    /* .hero-section .blur-line {
        display: block;
        position: absolute;
        width: 100%;
        height: 10%;
        
        background: linear-gradient(
            to top,
            rgba(0,0,0,1),
            rgba(0,0,0,.7),
            rgba(0,0,0,.3),
            rgba(0,0,0,0)
        );
        backdrop-filter: blur(30px);
    } */

    
    .hero-right {
        display: flex;
        justify-content: center;
        padding: 80px 80px 0px;
        
    }

    .hero-right img {
        object-fit: cover;
    }
    
    .hero-left {
        align-items: center;
        padding: 80px 80px 150px;
        text-align: center;
        width: 100%;
        background: #000;
        /* outline: 1px solid red; */
    
    }


    .hero-left .hero-title {
        font-size: 70px;
        letter-spacing: 1px;
        
    }

    .hero-left .hero-p {
        font-size: 20px;
        max-width: none;
        margin-bottom: 50px;


        /* outline: 1px solid red; */
    }


}

@media (max-width: 640px) {
    
    .hero-left .hero-title {
        font-size: 50px;
        
    }

    .hero-left .hero-p {
        font-size: 15px;
        margin-bottom: 30px;

        /* outline: 1px solid red; */
    }

}

@media (max-width: 520px) {

    .hero-left{
        padding-bottom: 100px;
    }

    .hero-left .hero-p {
        margin-bottom: 30px;
    }

    .hero-button button {
        margin-bottom: 15px;
    }

}
